{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} STS 설정하기: MVC {% endblock %}

{% block content %}
<p>이클립스 : https://www.eclipse.org/downloads/packages/ 에 접속해서 Eclipse IDE for Enterprise Java Developers를 다운로드</p>
<section>
  <h2>2.3. 이클립스 package explorer 로 프로젝트 뷰 변경</h2>
  <ul>
    <li>window -> show view -> other를 차례로 클릭한다.</li>
    <li>Java -> package explorer -> open을 차례로 클릭한다.</li>
    <li>아래의 탭을 끌어서 왼쪽에 붙여넣는다.</li>
  </ul>
  <h2>2.4. 이클립스 sts 플러그인 설치</h2>
  <ul>
    <li>help -> eclipse marketplace 를 누른다.</li>
    <li>spring tools 3 StandAlone Edition을 검색 후 install 버튼을 클릭한다.</li>
    <li>라이센스에 동의한다.</li>
    <li>오른쪽 하단 installing software 지나가길 기다린다.</li>
    <li>restart now 메세지가 나오면 이클립스를 재시작한다.</li>
  </ul>
</section>
<section>
  <h2>스프링 툴스를 설치한다.(spring 기본 셋팅된 버젼)</h2>
</section>
<section>
  <h2>2.5. 마리아디비 설치: root 암호 1111</h2>
  <h3>Enable access ...: check; Use UTF8 as ...: check</h3>
  <h3>Service Name: MariaDB; TCP port: 3306; Buffer pool size: 3056MB; Page size: 16MB</h3>
  <h2>2.6. HeidiSQL 설치: 마리아디비 설치시 설치됨</h2>
  <h3>HeidiSQL은 Mysql GUI 관리 프로그램이다. https://www.heidisql.com/ 에서 다운로드해서 설치해 두자.</h3>
</section>
<section>
  <h2>실행 Test</h2>
    <pre>@Controller
public class HelloController {
  @GetMapping("/")
  @ResponseBody
  public String hello() {
      return "Hello World";
  }
}</pre>
  <h3>서비스포트 변경: src/main/resources/application.properties ; server.port = 8090</h3>
  <section>
  <h2>Spring Boot Devtools; 자동으로 서버 갱신</h2>
  <h3>build.gradle</h3>
  <h4>dependencies 추가 : developmentOnly 'org.springframework.boot:spring-boot-devtools'</h4>
  <h4>build.gradle 우클릭 gradle>refresh Gradle Project</h4>
  <h4>Boot Dashboard가 devtool로 바뀜</h4>
  </section>
  <section>
  <h2>Lombok 설치</h2>
  <h3>소스 코드를 작성할 때 자바 클래스에 애너테이션을 사용하여 자주 쓰는 Getter 메서드, Setter 메서드, 생성자 등을 자동으로 만들어 주는 도구</h3>
  <pre>lombok plug-in download : https://projectlombok.org/download</pre>
  <pre>down 위치에서 : java -jar lombok.jar</pre>
  <h3>specify location에서 sts 설치위치 지정 > install </h3>
  <h3>sts 재시작 후: build.gradle 수정</h3>
  <pre>compileOnly 'org.projectlombok:lombok'
annotationProcessor 'org.projectlombok:lombok'</pre>
  <h4>build.gradle 우클릭 gradle>refresh Gradle Project</h4>

  <h3>lombok으로 Getter, Setter 메서드 만들기</h3>
<pre>package com.mysite.sbb;
import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class HelloLombok {
    private String hello;
    private int lombok;
    public static void main(String[] args) {
        HelloLombok helloLombok = new HelloLombok();
        helloLombok.setHello("헬로");
        helloLombok.setLombok(5);

        System.out.println(helloLombok.getHello());
        System.out.println(helloLombok.getLombok());
    }
}</pre>
    <h4>constructor 생성자</h4>
      <h5>변수가 반드시 private final 이어야함</h5>
<pre>import lombok.Getter;
import lombok.RequiredArgsConstructor;

@Getter
@RequiredArgsConstructor
public class HelloLombok {
  private final String hello;
  private final int lombok;

  public static void main(String[] args) {
    HelloLombok helloLombok = new HelloLombok("김이용", 33);

    System.out.println(helloLombok.getHello());
    System.out.println(helloLombok.getLombok());
  }
}</pre>
  </section>
  <section>
    <h2>이전 버젼 spring boot 만들기</h2>
    <h3>우선 최신 버젼을 만들고 난 후에 pom.xml, build.gradle을 하위 버젼으로 수정</h3>
  </section>
{% endblock %}