{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} CORS: spring boot 3, security 6 {% endblock %}

{% block content %}
<section>
<pre>
@Configuration
@EnableWebSecurity
public class SecurityConfig {
  @Bean
  BCryptPasswordEncoder passwordEncoder(){
    return new BCryptPasswordEncoder();
  }

  // ⭐️ CORS 설정 CorsConfigurationSource를 반환 받음
  CorsConfigurationSource corsConfigurationSource() {
    return request -> {
      CorsConfiguration config = new CorsConfiguration();
      config.setAllowedHeaders(Collections.singletonList("*"));
      // ⭐️⭐️ GET, POST, PUT, DELETE
      config.setAllowedMethods(Collections.singletonList("*"));
      // ⭐️⭐️ 허용할 origin
      //  config.setAllowedOriginPatterns(Collections.singletonList("http://localhost:8080"));
      //  config.setAllowedOriginPatterns(Collections.singletonList("http://127.0.0.1:8080"));
      // config.setAllowedOriginPatterns(Arrays.asList("http://127.0.0.1:8080","http://localhost:8080"));
      config.setAllowedOrigins(Arrays.asList("http://127.0.0.1:8080","http://localhost:8080"));
      config.setAllowCredentials(true);
      return config;
      };
  }
// 필터에 cors source, csrf 설정, 허락할 나의(서버측) 경로를 지정
  @Bean
  SecurityFilterChain filterChain(HttpSecurity httpSecurity) throws Exception {
    httpSecurity.httpBasic(HttpBasicConfigurer::disable)
      // ⭐️⭐️ 위에서 정의 corsConfigurationSource 를 받아서 origin, method, headers를 허락해줌
      .cors(corsConfigurer -> corsConfigurer.configurationSource(corsConfigurationSource()))
      .csrf(AbstractHttpConfigurer::disable)
        // ⭐️⭐️ xframe 허용 설정
      .headers(httpSecurityHeadersConfigurer ->
            httpSecurityHeadersConfigurer
             .frameOptions(HeaderConfigurer.FrameOptionsConfigurer::sameOrigin))
  // ⭐️⭐️ 허락할 URL 설정, 허락할 경로("/hello") 지정 해야함,안하면 deny됨
      .authorizeHttpRequests(authorize ->
        authorize
          .requestMatchers("/**").permitAll()  // ⭐️⭐️ 전체 허락, 허락할 경로("/hello") 지정 해야함
          .requestMatchers("/login").permitAll() // ⭐️⭐️ 허락할 경로
          .requestMatchers("/question/**").permitAll() // ⭐️⭐️ 허락할 경로
          .requestMatchers("/answer/**").permitAll() // ⭐️⭐️ 허락할 경로
      );

    return httpSecurity.build();
    }
}</pre>
  </section>
{% endblock %}