{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} intelliJ 설정하기 {% endblock %}

{% block content %}
  <section>
    <h2>H2 DB설정</h2>
    <h3>application.properties에서 spring.datasource.url=jdbc:h2:~/local;AUTO_SERVER=true 하면</h3>
    <h3>JUnit @Test의 method에 @Transactional을 하면 insert안됨</h3>
    <h3>;AUTO_SERVER=true 해주어야 서버 실행상태에서 추가 작업 가능, 아니면 서버가 연결상태면 lock걸려 다른 작업안됨</h3>
    <h2>Lombok plugin 설치 필요</h2>
    <h2>dev tool 설정</h2>
    <h3>settting > Build, Execution... > Compiler > Build project Automatically ; check</h3>
    <h3>settting > Advanced Settings > Compiler > Allow auto-make to ...  ; check</h3>
  </section>
{% endblock %}