{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} spring boot cors 설정 {% endblock %}

{% block content %}
  <section>
    <h2>CORS Config 클래스( config.java )</h2>
<pre>
@Configuration // 스프링 빈으로 등록
public class WebMvcConfig implements WebMvcConfigurer {
  private final long MAX_AGE_SECS = 3600;
  @Override
  public void addCorsMappings(CorsRegistry registry) {
    // 모든 경로에 대해
    registry.addMapping("/**")
    // Origin이 http:localhost:3000에 대해
    .allowedOrigins("http://localhost:3000")
    // GET, POST, PUT, PATCH, DELETE, OPTIONS 메서드를 허용한다.
    .allowedMethods("GET", "POST", "PUT", "PATCH", "DELETE", "OPTIONS")
    .allowedHeaders("*")
    .allowCredentials(true)
    .maxAge(MAX_AGE_SECS);
  }
}</pre>
<pre>WebMvcConfigurer 인터페이스: 스프링 MVC 설정을 그대로 가져와 추가로 설정할 수 있다.
addCorsMappings 오버라이딩 : 어떤 출처(Origin)에 대해 CORS를 허락하고,
  어떤 메서드에 대해 허락할지 명시하는 메서드이다.
registry.addMapping("/**") : 모든 경로(/**)에 대해 출처(Origin)가
  http://localhost:3000인 경우 GET, POST, PUT, PATCH, DELETE
  메서드를 이용한 요청을 허용하고, 모든 헤더와 인증에 관한 정보도 허용한다는 의미이다.
  위처럼 "/**" 와일드카드를 사용할 수도 있고,  Ant-style Pattern도 지원한다.

  인증이 필요한 페이지에서 접근권한을 요청하지 않도록 하기 위해 Ant Pattern을 사용
  ( Ant Pattern )
  *	0개 이상의 문자와 매칭
  **	0개 이상의 디렉터리와 파일 매칭
  ?	1개의 문자와 매칭
  {spring:[a-z]+}	정규 문법 [a-z]+를 'spring'이라는 path variable과 매칭
allowedOrigins :  자원 공유를 허락할 출처(Origin)를 지정 ("*")를 준다면
  모든 출처(Origin)를 허용한다.
allowedMethods : 허용할 HTTP method를 지정한다.
allowCredentials : 쿠키 요청을 여부(다른 도메인 서버에 인증하는 경우에만
  사용해야 하며, true 설정 시 보안상 이슈가 발생할 수 있다.)
maxAge : 원하는 시간만큼 pre-flight 요청에 대한 응답을 브라우저에서 캐싱하는 시간   </pre>
    </section>
  <section>
    <div id="testout" class="testResult"></div>
  </section>
{% endblock %}

<script>
  async function testSpringBoot(url) {
    let response = await fetch(url);
    let data = await response.text();
    return data;
  }
  testSpringBoot("http://localhost:9090/hello")
          .then(data => {
            console.log(data);
            testout.innerHTML = data;
          });
</script>