{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} Spring boot board Start {% endblock %}

{% block content %}
<h4>서버 기반으로 할지 프론트엔드를 JavaScript로 해서 완전히 분리할지 뭐가 맞는지 모르겠음</h4>
<section>
  <h3>기본적으로 스프링에서 정의한 객체를 활용해서 html에 적용할 수 있는 방식에 대해 공부함</h3>
  <h3>우선 기본적으로 질의에 대한 변수처리를 검토</h3>
  <h4>Thymleaf를 적용해서 java 코드를 html에 적용하는 방식을 공부</h4>
  <h4>여기서는 자바스크립을 활용해서 페이지를 제어하는 방식에 대해 수행함</h4>
  <h4>그러기 위해서는 @Controller를 하면 안되고 @RestController를 적용해야함</h4>
  <h4>frontend와 backend를 분리하기 위해서는 @RestController를 적용하고</h4>
  <h5>JSON으로 응답을 받아서 페이지에 적용해야함</h5>
  <h5>서버 기반 페이지 적용과 Client 기반 프로젝트 생성이 차이가 많음</h5>
  <h3>이후에 서비스를 만들어서 좀더 세밀하게 검토, 서비스 이유 등</h3>
  <h4>좀더 세밀하게 페이지를 제어하기 위해 서비스 필요</h4>
</section>
{% endblock %}