{% extends 'base.html' %}

{% block title %} JS DOM {% endblock %}

{% block header %} flex {% endblock %}

{% block content %}
  <section>
  <h2>flex 속성</h2>

  <h3>display: flex; flex-direction: row/column/row-reverse/column-reverse</h3>
  <h3>flex-wrap: nowrap/wrap/wrap-reverse;</h3>
  <h3>flex-flow: flex-direction과 flex-warp을 한번에 적용</h3>
  <h4>flex-flow: row wrap;</h4>

  <h3>정렬하기</h3>
  <h4>justify: 메인축 정렬 방향, align: 수직축 방향으로 정렬</h4>
  <h5>justify-content: 메일축 방향으로 아이템을 정렬</h5>
  <h6>justify-content: flex-start/flex-end/center/space-between/space-around/space-evenly</h6>
  <h5>align-items: stretch/flex-start/flex-end/center/baseline;</h5>
<pre>
  stretch                      center
  |----- |------ | ----- |   |-----|------ | ----- |
  |item1 | item2 | item3 |   |     |       |       |
  |      |       |       |   |item1 | item2 | item3 |
  |      |       |       |   |     |       |       |
  |----- |------ | ----- |   |-----|------ | ----- |
</pre>
  </section>
<section>
  <h1>Flow</h1>

  <h2>Position</h2>
  <h3>relative(기본), absolute, sticky, fixed</h3>
  <p>absolute는 상위 element 중 relative 기준으로 위치를 정의함</p>
  <pre>position: absolute; top:0; left:2rem;</pre>
  <p>sticky는 window 기준 스크롤 시에 위치를 갖음</p>
  <pre>position: sticky; top:0</pre>
  <p>fixed는 window 기준 절대값을 가짐. 스크롤 시에도 위치가 고정됨</p>
  <pre>position:fixed; top:0;</pre>

  <h2>flex 속성</h2>
  <h3>display: flex; flex-direction: [row, column, row-reverse, column-reverse]</h3>
  <p>flex-wrap: nowrap/wrap/wrap-reverse;</p>
  <p>flex-flow: flex-direction과 flex-warp을 한번에 적용</p>
  <pre>flex-flow: row wrap;</pre>
  <h3>정렬하기</h3>
  <p>justify-content: flex-start/flex-end/center/space-between/space-around/space-evenly</p>
  <p>align-items: stretch/flex-start/flex-end/center/baseline;</p>
  <h3>flex-grow, flex-shrink는 item에 적용</h3>
  
  <h2>Grid</h2>
  <pre>display: grid; 
  grid-template-columns: 1fr 2fr 3fr; // column 기준으로 배열, 넘어가면 순서대로 적용됨
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;      </pre>
  <div class="wrapper">
    <div class="one grid_item">One</div>
    <div class="two grid_item">Two</div>
    <div class="three grid_item">Three</div>
    <div class="four grid_item">Four</div>
    <div class="five grid_item">Five</div>
    <div class="six grid_item">Six</div>
  </div>
  <pre>.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.one {  grid-column: 1 / 3;  grid-row: 1; }
.two {  grid-column: 2 / 4;  grid-row: 1 / 3; }
.three {  grid-column: 1;  grid-row: 2 / 5; }
.four {  grid-column: 3;  grid-row: 3; }
.five {  grid-column: 2;  grid-row: 4; }
.six {  grid-column: 3;  grid-row: 4; }</pre>
  <h4>grid로 가운데 정렬하기</h4>
  <p>이 속성은 align-items: center; (수직 중앙 정렬)와 justify-items: center; (수평 중앙 정렬)를 동시에 설정하는 단축 속성</p>
  <pre>.items__length {
  display: grid;
  place-items: center;
}</pre>  
</section>

<section>
  <h2>📘 The Code Magazine</h2>
  <nav>
    <a href="blog.html">Blog</a>
    <a href="#">Challenges</a>
    <a href="flexbox.html">Flexbox</a>
    <a href="css-grid.html">CSS Grid</a>
  </nav>

<article>
    <h2>The Basic Language of the Web: HTML</h2>
    <div class="author-box">
      <img src="/static/image/ref/laura-jones.jpg" alt="Headshot of Laura Jones"
            height="50" width="50" class="author-img" />
      <p id="author" class="author"> Posted by <strong>Laura Jones</strong> on Monday, June 21st 2027  </p>
    </div>

    <img src="/static/image/ref/post-img.jpg" alt="HTML code on a screen"
        width="500" height="200" class="post-img">

  <p> All modern websites and web applications are built using three
    <em>fundamental</em>
    technologies: HTML, CSS and JavaScript. These are the languages of the web. </p>  
  <p> In this post, let's focus on HTML. We will learn what HTML is all
    about, and why you too should learn it. </p>

  <h3>What is HTML?</h3>
  <p>HTML stands for <strong>H</strong>yper<strong>T</strong>ext
    <strong>M</strong>arkup <strong>L</strong>anguage. It's a markup
    language that web developers use to structure and describe the content
    of a webpage (not a programming language).</p>
  <p>HTML consists of elements that describe different types of content:
    paragraphs, links, headings, images, video, etc. Web browsers
    understand HTML and render HTML code as websites.</p>
  <p>In HTML, each element is made up of 3 parts:</p>
  <ol>
    <li class="first-li">The opening tag</li>
    <li>The closing tag</li>
    <li>The actual element</li>
  </ol>
  <p> You can learn more at
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"
      target="_blank">MDN Web Docs</a>.  </p>
  <h3>Why should you learn HTML?</h3>

  <p> There are countless reasons for learning the fundamental language of
    the web. Here are 5 of them:</p>
  <ul>
    <li class="first-li"> To be able to use the fundamental web dev language</li>
    <li>
      To hand-craft beautiful websites instead of relying on tools like
      Worpress or Wix
    </li>
    <li>To build web applications</li>
    <li>To impress friends</li>
    <li>To have fun 😃</li>
  </ul>
  <p>Hopefully you learned something new here. See you next time!</p>
</article>

<aside>
  <h4>Related posts</h4>
  <ul class="related">
    <li class="related-post">
      <img src="/static/image/ref/related-1.jpg" alt="Person programming"
            width="75" height="75" />
      <div>
        <a href="#" class="related-link">How to Learn Web Development</a>
        <p class="related-author">By Jonas Schmedtmann</p>
      </div>
    </li>
    <li class="related-post">
      <img src="/static/image/ref/related-2.jpg" alt="Lightning"
            width="75" height="75" />
      <div>
        <a href="#" class="related-link">The Unknown Powers of CSS</a>
        <p class="related-author">By Jim Dillon</p>
      </div>
    </li>
    <li class="related-post">
      <img src="/static/image/ref/related-3.jpg" alt="JavaScript code on a screen"
            width="75" height="75" />
      <div>
        <a href="#" class="related-link">Why JavaScript is Awesome</a>
        <p class="related-author">By Matilda</p>
      </div>
    </li>
  </ul>
</aside>
</section>
{% endblock %}