{% extends 'base/base.html' %}
{% block import %} 
<link rel="stylesheet" href="/static/css/page/auth.css" >
{% endblock %}
{% block title %} Account {% endblock %}
{% block header %} Account {% endblock %}

{% block content %}
  <div class="account-info">
    <h2>Welcome, {{ user.username }}!</h2>
    <h3>Email: {{ user.email }}</h3>
  </div>

  <form method="post" class="auth-form">
    <label for="username">Username </label>
    <input name="username" id="username" value="{{ user.username }}" required><br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{ user.email }}" required><br>
    <input type="submit" value="Update">
  </form>
{% endblock %}