{% extends 'base.html' %}

{% block title %} JS DOM {% endblock %}

{% block header %} 좌표 {% endblock %}

{% block content %}
<section>
  <h2>마우스 클릭이 발생한 곳의 위치: event.clientX/pageX, ...</h2>
  <h3>창기준: position:fixed, clientX/clinetY</h3>
  <h3>문서기준: position:absolute, pageX/pageY</h3>
  <img src="/images/page-client-position.png" alt="pageXY, clientXY" width=600>
</section>
<section>
  <h2>getBoundingClientRec()로 요소 좌표 얻기</h2>
  <h3>현재 위치한 요소의 좌표 위치를 반환</h3>
  <img src="/images/getBoundingClientRec.png" alt="getBoundingClinetRec()" width=400>
  <h3>left = x, top = y /  right = x + width, bottom = y + height</h3>
</section>
<section>
  <h2>elementFromPoint(x, y)</h2>
  <h3>document.elementFromPoint(x, y)을 호출하면 창 기준 좌표 (x, y)에서 가장 가까운 중첩 요소를 반환</h3>
  <h3>예; 창 정중앙에 있는 요소의 태크를 출력</h3>
  <pre>let centerX = document.documentElement.clientWidth / 2;
let centerY = document.documentElement.clientHeight / 2;
let elem = document.elementFromPoint(centerX, centerY);

elem.style.background = "red";
alert(elem.tagName);</pre>
    <h3 id="coords-show-mark">나타나는 테크의 위치를 고정하기</h3>
    <pre>let elem = document.getElementById("coords-show-mark");
let elem2 = document.docuementElement;
let elem3 = document.body;

function createMessageUnder(elem, html) {
  // 메시지가 담길 요소를 만듭니다.
  let message = document.createElement('div');
  // 요소를 스타일링 할 땐 css 클래스를 사용하는 게 좋습니다.
  message.style.cssText = "position:fixed; color: red;background:yellow;z-index:100;";
  // 좌표를 지정합니다. 이때 "px"을 함께 써주는 걸 잊지 마세요!
  let coords = elem.getBoundingClientRect();

  message.style.left = coords.left + "px";
  message.style.top = coords.bottom + "px";

  message.innerHTML = html;

  return message;
}

// 사용법:
// 문서 안에 메시지를 띄우고, 5초 동안만 보여줍니다.
let message = createMessageUnder(elem, '독도는 우리땅!');
document.body.append(message);
setTimeout(() => message.remove(), 5000);</pre>
  <h3>나타나는 메시지의 위치 고정, 스크롤을 계산해서...</h3>
  <pre>function getCoords(elem) {
  let box = elem.getBoundingClientRect();

  return {
    top: box.top + window.pageYOffset,
    right: box.right + window.pageXOffset,
    bottom: box.bottom + window.pageYOffset,
    left: box.left + window.pageXOffset
  };
}
function createMessageUnder(elem, html) {
  let message = document.createElement('div');
  message.style.cssText = "position:absolute; color: red";

  let coords = getCoords(elem);

  message.style.left = coords.left + "px";
  message.style.top = coords.bottom + "px";

  message.innerHTML = html;

  return message;
}</pre>
  </section>
{% endblock %}

<script>
  // let elem2 = document.getElementById("coords-show-mark");
    let elem = document.body;

  function createMessageUnder(elem, html) {
    let message = document.createElement('div');
    // 메시지가 담길 요소를 만듭니다.
    // 요소를 스타일링 할 땐 css 클래스를 사용하는 게 좋습니다.
    message.style.cssText = "position:fixed; color: red;background:yellow;z-index:100;";

    // 좌표를 지정합니다. 이때 "px"을 함께 써주는 걸 잊지 마세요!
    let coords = elem.getBoundingClientRect();

    message.style.left = coords.left + 200 + "px";
    message.style.top = coords.top + 100 + "px";

    message.innerHTML = html;
    document.body.append(message);
    return message;
  }

  let message = createMessageUnder(elem, "이건 되나?????");
  document.body.append(message);
  // 사용법:
  // 문서 안에 메시지를 띄우고, 5초 동안만 보여줍니다.
  setTimeout(() => message.remove(), 5000);

/*
  let centerX = document.documentElement.clientWidth / 2;
  let centerY = document.documentElement.clientHeight / 2;
  let elem = document.elementFromPoint(centerX, centerY);

  elem.style.background = "red";
  elem.style.borderColor = "red";
  console.log(elem.tagName);

 */
</script>