{% extends 'base.html' %}

{% block title %} PostgreSQL {% endblock %}

{% block header %} SQL Aggregate {% endblock %}

{% block content %}
<section>
  <h3>The most commonly used SQL arrgregate functions:</h3>
  <ul>
    <li>COUNT() - Returns the number of rows that matches a specified criterion</li>
    <li>SUM() - Returns the total sum of a numeric column</li>
    <li>AVG() - Returns the average value of a numeric column</li>
    <li>MIN() - Returns the smallest value of the selected column</li>
    <li>MAX() - Returns the largest value of the selected column</li>
  </ul>

  <h3>Min and Max</h3>
<pre>SELECT MIN(Price) FROM Product WHERE condition; 
SELECT MAX(Price) FROM Product WHERE condition; 
SELECT categoryID, 
  min(price) AS min_price,
  max(price) AS max_price,
  avg(price) AS avg_price
  FROM product
  GROUP BY categoryid;</pre>

  <h3>COUNT</h3>
  <pre>SELECT COUNT(*) FROM Product WHERE condition;
  SELECT COUNT(country) FROM customer;
  중복 제거안하면 값이 있는 모든 ROW를 샘
  SELECT count(city) as cityCount, count(DISTINCT country) as 'Country Count' 
    FROM customer WHERE id  < 33;
  SELECT country, count(*) as '전체 레코드 숫자' 
    FROM customer GROUP BY country;</pre>

  <h3>SUM</h3>
<pre>SELECT SUM(price) FROM Product WHERE condition;
SELECT sum(quantity) FROM order_detail WHERE order_id = 1;
SELECT order_id as OrderID, sum(quantity) 
    as Quantity, sum(price) as Price
  FROM order_detail 
  GROUP BY order_id
  HAVING sum(quantity) > 2;
SELECT order_id, SUM(quantity * price) AS total_sales
  FROM order_detail
  GROUP BY order_id;
SELECT SUM(quantity * od.price) AS total_sales
  FROM order_detail od
  LEFT JOIN product ON od.product_id = product.id;</pre>

  <h3>AVG</h3>
<pre>SELECT AVG(price) FROM Product WHERE condition;
SELECT CategoryID, AVG(price)
  AS average_price FROM product GROUP BY CategoryID;
SELECT AVG(price) AS average_price FROM product WHERE CategoryID = 1;
SELECT * FROM product
WHERE price > (SELECT AVG(price) FROM product)</pre>
</section>

{% endblock %}