{% extends 'base.html' %}

{% block title %} PostgreSQL {% endblock %}

{% block header %} STORED PROCEDURE {% endblock %}

{% block content %}
<section>
  <h3>STORED PROCEDURE: 자주 쓰는 SQL을 함수로 저장</h3>
  <pre>
  DELIMITER $$ -- delimiter 를 $$ 임시로 변경 procedure에서 ;를 쓸 수 있도록 함
  CREATE PROCEDURE procedure_name ()
  BEGIN
      -- SQL statements
      SELECT * FROM table_name;
      -- Other SQL statements
  END $$
  DELIMITER ; -- 다시 delimiter를 ;로 변경
  -- 프로시저 호출
  CALL procedure_name('value1', @output);</pre>
  <pre>
  -- 프로시저에 OUT 파라미터가 있는 경우, @output 변수에 결과를 저장함
  DELIMITER $$
  CREATE PROCEDURE procedure_name (IN param1 datatype, OUT param2 datatype)
  BEGIN
    SELECT * FROM table_name WHERE column_name = param1;
    SET param2 = (SELECT COUNT(*) FROM table_name WHERE column_name = param1);
  END $$
  DELIMITER ;
  CALL procedure_name('value1', @output);
  -- --------------------------------------
  DELIMITER $$
  CREATE PROCEDURE find_customer (IN id INT)
  BEGIN
    SELECT * FROM customers WHERE customer_id = id;
  END $$
  DELIMITER ;
  CALL find_customer(1); -- 프로시저 호출
  -- --------------------------------------
  DELIMITER $$
  CREATE PROCEDURE find_customer_full_name (IN f_name VARCHAR(50), IN l_name VARCHAR(50))
  BEGIN
    SELECT * FROM customers where first_name = f_name AND last_name = l_name;
  END $$
  DELIMITER ;
  CALL find_customer_full_name("abc", "cde"); -- 프로시저 호출

  DROP PROCEDURE IF EXISTS procedure_name; -- 프로시저 삭제
  </pre>
   <!--*********** TRIGGERS ******************--> 
  <h1>TRIGGERS</h1>
  <h3>뭔가를 한 후에 수행할 주로 업데이트할 내용을 정의</h3>
  <pre>
  SHOW TRIGGERS; -- 트리거 목록 보기
  DROP TRIGGER IF EXISTS trigger_name; -- 트리거 삭제
  -- ########## 트리거 생성 #############
  CREATE TRIGGER trigger_name
  BEFORE|AFTER INSERT|UPDATE|DELETE ON table_name
  FOR EACH ROW
  BEGIN
    INSERT INTO log_table (action, action_time) VALUES ('insert', NOW());
  END;  </pre>
  <pre>--exercise
    ALTER TABLE employees
    ADD COLUMN salary DECIMAL(10, 2) NOT NULL DEFAULT 0.00
    AFTER hourly_pay;
    UPDATE employees
    SET salary = hourly_pay * 40 * 4; -- 월급으로 변환
    -- ########## 트리거 생성 hourly_pay가 변경되면 salary도 변경되도록 함
    CREATE TRIGGER before_hourly_pay_update
    BEFORE UPDATE ON employees
    FOR EACH ROW
      SET NEW.salary = NEW.hourly_pay * 40 * 4; -- 월급으로 변환
    -- ########## 트리거 생성 hourly_pay가 변경되면 salary도 변경되도록 함    
    CREATE TRIGGER before_hourly_pay_insert
    BEFORE INSERT ON employees
    FOR EACH ROW
      SET NEW.salary = NEW.hourly_pay * 40 * 4; -- 월급으로 변환

    insert into employees values(29, "신입","직원", "worker", 18, null, DATE(NOW()), 3);
  </pre>
  <h3>예제</h3>
  <pre>
  CREATE TABLE IF NOT EXISTS expenses (
    id INT AUTO_INCREMENT PRIMARY KEY,
    expense_name varchar(20),
    expense_total INT
  );
  UPDATE expenses 
    SET expense_total = (SELECT SUM(salary) FROM employees) 
    WHERE expense_name = "salaries";
  -- ########## 행이 추가허면 업데이트 하는 트리거
  CREATE TRIGGER after_salary_insert_expense_total
  AFTER INSERT ON employees
  FOR EACH ROW
    UPDATE expenses 
    SET expense_total = expense_total + NEW.salary 
    WHERE expense_name = "salaries";

  -- ########## 행이 삭제하면 업데이트 하는 트리거 생성
  CREATE TRIGGER after_salary_delete_expense_total
  AFTER DELETE ON employees -- BEFORE로 하면 삭제된 행이 없어서 에러 발생
  FOR EACH ROW
    UPDATE expenses 
    SET expense_total = expense_total - OLD.salary -- OLD.salary는 삭제되는 행의 salary
    WHERE expense_name = "salaries";

  -- --------------------------------------
  -- update해서 값이 변경되었을 때  
  CREATE TRIGGER after_salary_update_expense_total
  AFTER UPDATE ON employees -- BEFORE로 하면 삭제된 행이 없어서 에러 발생
  FOR EACH ROW
    UPDATE expenses 
    SET expense_total = expense_total + (NEW.salary - OLD.salary) -- 새로운 값에서 이전 값을 뺌
    WHERE expense_name = "salaries"; </pre>
</section>

{% endblock %}