{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} JSP 입문 {% endblock %}

{% block content %}
<section>
  <h3>page directive - info 속성</h3>
  <h4><%= getServletInfo() %></h4> <!-- 상단의 infor 정보를 보여줌 -->
  <h3>page directive - contentType 속성 </h3>
  <h4><%= "한글 출력확인." %></h4>
  <h3>page directive - import 속성</h3>
  <pre><%
  Timestamp now = new Timestamp(System.currentTimeMillis());
  Date today = new Date();
  SimpleDateFormat format = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss");
  String strDate = format.format(now);
  %>
  오늘은 <%= strDate %> <br>
  <%= today.toString() %>
  </pre>
  <pre>include 디렉티브(파일을 불러와서 붙여넣어줌.)
  <%
  String name="용가리 입니다.";
  %>
  <%@ include file="top.jsp" %>
  <%@ include file="bottom.jsp" %>    
  </pre>
</section>
{% endblock %}