{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} 선언문 {% endblock %}

{% block content %}
  <section>
<pre><% //스크립트릿
  String str2= "== 지역번수 입니다. ==";
  %></pre>
    <h3>스크립트 릿에서 선언한 str2 <%= str2 %> </br>
      전역변수에서 선언한 str은 위치에 상관없음. <%= str %> <%= getStr() %>
    </h3>
<pre>
  <%! //선언문-전역변수 선언
    String str = "== 전역변수 선언 ==";
  %>
  <%! //선언문-메소드 선언
    String getStr() {
      return str;
    }
  %>
</pre>
  </section>
  <h1>선언문, 스크립트 릿, 표현식</h1>
{% endblock %}