{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} 페이징 기능 {% endblock %}

{% block content %}
<h2>다수의 게시판 내용을 여러 페이지로 나눠서 출력하는 기능</h2>
<section>
  <h2>대량 테스트 데이터 만들기</h2>
  <pre>for(int i=1; i <= 300; i++){
    String subject = String.format("subject 테스트 데이터 : %03d", i);
    String content = String.format("content 테스트 데이터 : %03d", i);
    this.questionService.addQuestion(subject, content);
  }</pre>
</section>
<section>
  <h2>1. 페이징 구현</h2>
  <h3>1.1 repository에 Page를 구현</h3>
  <h4>import org.springframework.data.domain.Page/Pageable</h4>
  <xmp>Page<Question> findAll(Pageable pageable);</xmp>
  <h3>1.2 service에서 이를 받아 구현</h3>
  <xmp>//getList 수정
  public Page<Qeustion> getList(int page){
    Pageable pageable = PageRequest.of(page, 10);
    return this.questionRepository.findAll(pageable);
 }</xmp>
  <h3>1.3 controller 설정</h3>
  <pre>
@GetMapping("/list")
public String list(Model model,
    @RequestParam(value="page", defaultValue="0") int page) {

    Page<Question> paging = this.questionService.getList(page);
    model.addAttribute("paging", paging);
    return "question_list";
}  </pre>
  <h4>템플릿에 Page 클래스의 객체인 paging을 model에 설정하여 전달</h4>
  <h4>paging 객체 지원 속성(templates에서 사용 가능)</h4>
  <h5>paging.isEmpty : 페이지 존재 여부를 의미한다(게시물이 있으면 false, 없으면 true).</h5>
  <h5>paging.totalElements : 전체 게시물 개수를 의미한다.</h5>
  <h5>paging.totalPages : 전체 페이지 개수를 의미한다.</h5>
  <h5>paging.size : 페이지당 보여 줄 게시물 개수를 의미한다.</h5>
  <h5>paging.number : 현재 페이지 번호를 의미한다.</h5>
  <h5>paging.hasPrevious : 이전 페이지의 존재 여부를 의미한다.</h5>
  <h5>paging.hasNext : 다음 페이지의 존재 여부를 의미한다.</h5>
</section>
<section>
  <h2>question_list.html 페이지 수정</h2>

  <h4>list 전달을 paging으로 변경 했으므로 입력 값을 paging으로 변경</h4>
  <pre> th:each="question, loop: ${paging}" 으로 변경</pre>
  <h4>10개 만 보임, param의 ?page=0(default) 값이 보임</h4>

  <h4>페이지 이동 기능 추가</h4>
  <h5>th:classappend="${!paging.hasPrevious} ? 'disabled'" : 이전 페이지가 없으면 '이전' 링크를 비활성화</h5>
  <h5>th:classappend="${!paging.hasNext} ? 'disabled'" : 다음 페이지가 없으면 '다음' 링크를 비활성화</h5>
  <h5>th:href="@{|?page=${paging.number-1}|}" : 이전 페이지 링크를 생성</h5>
  <h5>th:href="@{|?page=${paging.number+1}|}" : 다음 페이지 링크를 생성</h5>
  <h5>th:each="page: ${\#numbers.sequence(0, paging.totalPages-1)}" :
    0부터 전체 페이지 수 만큼 이 요소를 반복하여 생성한다. 이때 현재 순번을 page 변수에 대입</h5>
  <h5>th:classappend="${page == paging.number} ? 'active'" :
    반복 구간 내에서 해당 페이지가 현재 페이지와 같은 경우 active 클래스를 적용</h5>

  <h3>페이지 이동 기능</h3>
  <xmp><li th:each="page: ${\#numbers.sequence(0, pagingList.totalPages-1)}"
  th:if="${page >= pagingList.number-5 and page <= pagingList.number+5}"></li>   
</xmp>

  <h3>최신순으로 데이터 정렬 조회</h3>
  <h4>service > getList</h4>
  <xmp>List<Sort.Order> sorts = new ArrayList<>();
  sorts.add(Sort.Order.desc("createDate"));
  Pageable pageable = PageRequest.of(page, 10, Sort.by(sorts));
  return this.questionRepository.findAll(pageable);</xmp>
</section>
{% endblock %}