{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} board 기능 추가 {% endblock %}

{% block content %}
<section>
  <h2>numbering 하기</h2>
  <h3>td에 페이지를 계산해서 숫자 넣기</h3>
<pre>
  <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
  paging.getTotalElements : 전체 게시물 개수를 의미한다.
  paging.number           : 현재 페이지 번호를 의미한다.
  paging.size             : 페이지당 게시물 개수를 의미한다.
  loop.index              : 나열 인덱스를 의미한다(0부터 시작).
</pre>
</section>
<section>
  <h2>답변개수 표시하기</h2>
  <h3>question detail td 내용에 span을 추가함</h3>
  <xmp>
<span class="small answer"
    th:if="${\#lists.size(question.answerList) > 0}"
    th:text="${\#lists.size(question.answerList)}"
  </span>
  </xmp>
</section>
{% endblock %}