{% extends 'base.html' %}

{% block title %} MY Topic app {% endblock %}
{% block header %}
 Todo List
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <div class="d-flex justify-content-end mt-3 mb-3">
      <a class="btn btn-sm btn-outline-secondary fs-7" href="/apps/todos/create">Create todo</a>
    </div>
  {% endif %}

  {% for todo in todos %}
    <div class="item-container d-flex justify-content-between">
      <div class="{% if todo.completed %}completed{% endif %} 
      d-flex align-items-start flex-column">
        <div class="d-flex align-items-center justify-content-start gap-4" style="width:100%">
          <input type="checkbox" {{ 'checked' if todo.completed else ''}} style="width: auto;">
          <h4> {{ todo.title }}  </h4>
          <div style="font-size: 0.8rem;">by {{ current_user.username }}
            on {{ todo.created.strftime('%Y-%m-%d %H:%M') if todo.created else ''}} 
          </div>
        </div>
        <div class="ms-4">{{ todo.content }}</div>
      </div>
      <div>
        {% if current_user.id == todo.user_id %}
          <a class="btn btn-sm btn-outline-secondary fs-7" href="#">
              {% if todo.completed %}Undo{% else %}Complete{% endif %}
          </a>
          <a class="btn btn-sm btn-outline-secondary fs-7" href="/apps/todos/{{ todo['id'] }}/edit">Edit</a>
          <a class="btn btn-sm btn-danger fs-7" href="/apps/todos/{{ todo['id'] }}/delete">Delete</a>
        {% endif %}
      </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
    {% else %}
    <p>아직 할 일이 없습니다!</p>
  {% endfor %}
</div>

  {% with target_app="todos", 
      page=page, 
      total_pages=total_pages, 
      per_page=per_page, 
      page_length=todos_page_len, 
      start_page=start_page, 
      end_page=end_page %}
      {% include 'apps/auth/pagenation.html' with context %}
  {% endwith %}

{% endblock %}