{% extends 'base.html' %}

{% block title %} JS DOM {% endblock %}

{% block header %} 마우스 이벤트 {% endblock %}

{% block content %}
<h4>종류 : mousedown/up, mouseover/out, mousemove, click, dbclick, contextmenu</h4>
<section>
  <h3>이벤트 순서: mousedown -> mouseup -> click</h3>
  <h4>마우스 이벤트에 대해 return false 하면 동작을 막음</h4>
  <button id="showBtn">마우스 클릭해보세요</button>
  <button id="clearBtn">초기화</button><br/>
  <textarea id="txtarea" style="width: 400px; height: 50px"></textarea>
  <pre>let showType = (e) => txtarea.value +=`${e.type} button=${e.button}\n`;
showBtn.onmousedown = showBtn.onmouseup = showBtn.onclick = showType;
clearBtn.onclick = (e) => area.value = "";  </pre>
</section>
<section>
  <h3>보조키</h3>
  <h4>키값 : event.shiftKey, event.altKey, event.ctrlKey, event.metaKey</h4>
  <pre>button.onclick = (e) => if(e.altKey && e.shiftKey) return "둘다 눌렀어요"</pre>
</section>
<section>
  <h3>clientX, clientY, pageX, pageY</h3>
  <div id="position" style="width:200px;height:50px; border: 1px solid cadetblue"></div>
<pre>position.onmousemove = (e) => {
  position.innerHTML = e.clientX + ":" + e.clientY;
}    </pre>
</section>
<section>
  <h4>선택하고자하는 소요를 선택, ctrl 누르고 하면 중복 선택</h4>
  <div id="transjs">div id=transjs
    <h6>React</h6>
    <h6>Angular</h6>
    <h6>Vue</h6>
    <h6>Svelte</h6>
    <h6>blazor</h6>
  </div>
  <style>
    .selected {
      background-color: red;
    }
  </style>
<script>transjs.onclick = (e) => {
let target = e.target;
if(target.tagName !== "H6") return;
if(e.ctrlKey) target.classList.toggle("selected");
else {
  let h6 = transjs.querySelectorAll("h6");
  h6.forEach((h) => h.classList.remove("selected"));
  target.classList.add("selected");
}
}  
</script>
</section>
{% endblock %}