{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} 스프링 부트 2.7 시큐리티 5.7 관련 설정 {% endblock %}

{% block content %}
  <h2>web(front-end) => d:/javascript/homepage-js</h2>
  <h2>Backend => d:/spring/restapi2.7</h2>
  <h3>lombok setting version 1.18.36 다른 버젼은 안됨</h3>
  <h3>plugins lombok에도 1.18.36 설정해야함. </h3>
  <section>
  <h2>pom.xml 구성: start.spring.io</h2>
  <h3>web, jpa, validation, mariadb connector 설치</h3>
  </section>
  <section>
    <h2>application.properties</h2>
    <pre>
spring.application.name=fall
server.port=9090

#DB setting
spring.datasource.url=jdbc:mariadb://localhost:3306/restapi
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
#spring.datasource.initialization=always
spring.datasource.username=root
spring.datasource.password=1111

#JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.show_sql=true</pre>
  </section>
  <section>
    <h2>spring security 설정</h2>
    <h3>SecurityFilterChain을 구성해야 Login 화면으로 이동을 안함</h3>
    <h3>rest api로 하면 cors 처리를 해야함, csrf는 ? 모르겠음</h3>
    <h2>security 5.7(spring boot 2.7)</h2>
    <pre>
@EnableWebSecurity
@Configuration
public class SecurityConfig {
  @Bean
  PasswordEncoder passwordEncoder() {
    return new BCryptPasswordEncoder();
  }
  @Bean
  CorsConfigurationSource corsConfigurationSource() {
    CorsConfiguration configuration = new CorsConfiguration();
    configuration.setAllowedOrigins(
            Arrays.asList("http://127.0.0.1:8080", "http://localhost:8080"));
    configuration.setAllowedMethods(Arrays.asList("GET","POST"));
//    configuration.setAllowedHeaders(Arrays.asList("*"));
    UrlBasedCorsConfigurationSource source = new UrlBasedCorsConfigurationSource();
    source.registerCorsConfiguration("/**", configuration);
    return source;
  }

  @Bean
  SecurityFilterChain filterChain(HttpSecurity http) throws Exception {
    http
// 디폴트로하면 corsConfigurationSource 이름을 찾아서 넣어줌
      .cors(withDefaults())
//      .cors(cors -> cors.configurationSource(corsConfigurationSource()))
      .csrf().disable()
      .authorizeRequests()
      .antMatchers("/hello").permitAll()
      .antMatchers("/","/**").permitAll()
      .antMatchers("/rest/v1/test/**").denyAll()
      .anyRequest().authenticated()
    ;
    return http.build();
  }

  @Bean
  AuthenticationManager authenticationManager(
          AuthenticationConfiguration authenticationConfiguration)
          throws Exception{
    return authenticationConfiguration.getAuthenticationManager();
  }
}
    </pre>
    <h2>security 6.4 설정(spring boot 3.4)</h2>
<pre>
@Configuration
@EnableWebSecurity
public class SecurityConfig {

  CorsConfigurationSource corsConf() {
    return request -> {
      CorsConfiguration config = new CorsConfiguration();
      config.setAllowedHeaders(Collections.singletonList("*"));
      config.setAllowedMethods(Collections.singletonList("*"));
      config.setAllowedOrigins(Arrays.asList("http://localhost:8888","http://127.0.0.1:8888"));
      config.setMaxAge(3600L);
      config.setAllowCredentials(true);

      return config;
    };
  }

  @Bean
  SecurityFilterChain filterChain(HttpSecurity httpSecurity) throws Exception {
    httpSecurity
        .httpBasic(HttpBasicConfigurer::disable)
        .cors(corsConfigurer ->
                corsConfigurer.configurationSource(corsConf()))
        .csrf(AbstractHttpConfigurer::disable)
        .headers(httpSecurityHeadersConfigurer ->
                httpSecurityHeadersConfigurer
                        .frameOptions(HeadersConfigurer.FrameOptionsConfig::sameOrigin))
        .authorizeHttpRequests(auth -> {
          auth
              .requestMatchers("/**").permitAll()
              .requestMatchers("/login").permitAll()
              .requestMatchers("/h2-console").permitAll()
        });
    return httpSecurity.build();
  }
}    </pre>
  </section>
  <section>
    <h2>UserSecurityService 설정(UserDetailsService)</h2>
    <h3>권한 인증 관련 객체(User)를 생성</h3>
  </section>
{% endblock %}