{% extends 'base.html' %}

{% block title %} JavaScript {% endblock %}

{% block header %} STS 설정 {% endblock %}

{% block content %}
<section>
  <p>sts는 일반버젼과 spring 버젼이 있음</p>
<pre> preference > General > keys 에 있음 여기서 수정가능
커서가 위치한 라인 지우기 : ctrl + d
화면키우기 : ctrl + '+'/'-'(숫자 패드 아님)
한줄복사 : ctrl + alt ↑,↓
import java util(임포트) : ctrl + shift + o
여러개 선택 : alt + shift + A;
커서위치에 있는 코드 한 줄 위로 옮기기 : alt + ↑, ↓
(드래그 후 해당 명령어 사용시 드래그 라인 옮기기 가능)
자동들여쓰기 : ctrl + i;

블록 주석 : ctrl + shift + /
블록 주석 풀기 : ctrl + shift + \
한 줄 주석 : ctrl + / 또는 ctrl + shift + c

자동 줄맞춤 : ctrl + shift + f
자동 완성 기능 : ctrl + space
동일 변수명 한번에 바꾸기 단축키 : alt + shift + r
소스로 선언된 다른 메소드 및 service단 등으로 이동 :
  선언된 코드부분에 마우스 올리고 ctrl + click
이동 후 이전에 있었던 곳으로 돌아가기 : alt + ←
다시 앞으로 이동하기 : alt + →
이전 히스토리로 한 단계 이동 : ctrl+ z
이후 히스토리로 한 단계 이동 : ctrl + y
getter, setter 만들기 (필드선언 후) :
  alt + shift + s 누르고 r => Select All 클릭 => Generate
생성자 만들기(필드선언 후) : alt + shift + s 누르고 o => Generate
ToString 만들기 : alt + shift + s 누르고 s => Generate
.java 및 .class 등 파일 검색 : ctrl + shift + r</pre>
  <h2>단축키 지정, 템플릿, 자동 완성</h2>
  <h4>sysout ; ctrl + space; > System.out.println();  </h4>
  <h4>단축 템플릿 지정하기 : window > preference > java > editor > template > 수정 > NO..</h4>
  <h4>자동완성 설정 : window > preference > java >editor >
    <br> assist; Enable auto activate;
    ... for java: .abcdefghijklmnopqrstuvwxyz</h4>
</section>

{% endblock %}