<div class="items pagenation">
  <a href="/apps/{{ target_app }}/?page={{1 if page > 1 else ''}}">
    First</a>
  <a href="/apps/{{ target_app }}/?page={{page - 1 if page > 1 else ''}}">
    Pre</a>
  {% for i in range(start_page, end_page + 1) %}
    {% if i == page %}
      <strong style="color: red;">{{i}}</strong>
    {% else %}
      <a class="page-link" href="/apps/{{ target_app }}/?page={{i}}">{{i}}</a>
    {% endif %}
  {% endfor %}
  <a href="/apps/{{ target_app }}/?page={{ page + 1 if page_length == per_page else '' }}">
    Next</a>
  <a href="/apps/{{ target_app }}/?page={{ total_pages if page < total_pages else '' }}">
    Last</a>
</div>