{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block header %} Register {% endblock %}

{% block content %}
  <form method="post" class="form-group d-flex flex-column gap-2 align-items-center" 
    style="max-width: 600px; margin: auto;">
    <label for="username">Username : </label><input name="username" id="username" required>
    <label for="email">Email: </label><input type="email" name="email" id="email" required>
    <label for="password">Password: </label><input type="password" name="password" id="password" required>
    <label for="confirm_password">Confirm Password:</label> <input type="password" name="confirm_password" id="confirm_password" required>
    <input class="btn btn-primary w-100" type="submit" value="Register">
    <a class="btn btn-secondary w-100" href="/apps/profiles/">cancel</a>

  </form>
{% endblock %}