{% extends 'base.html' %}

{% block title %} JavaScript {% endblock %}

{% block header %} 화살표 함수 다시 보기 {% endblock %}

{% block content %}
  <section>
    <h2>화살표 함수에는 'this'가 없습니다.</h2>
    <pre>let group = {
  title: "1모둠",
  students: ["보라", "호진", "지민"],
  showList() {
    this.students.forEach( //함수를 사용하면 애러남 function(student) {
      student => alert(this.title + ': ' + student)
    );
  case1. this.students.forEach( function (student) {
        console.log(this.title + ': ' + student)
      }, this);
  case2. this.students.forEach( function (student) {
        console.log(this.title + ': ' + student)
      }.bind(this));
  }
};
group.showList();</pre>
    <h3>forEach에서 화살표 함수를 사용해서 this.title은 화살표 함수 바깥에 있는 메서드인 showList가
     가리키는 대상과 동일</h3>
    <h3>화살표 함수에서 this를 사용하면 일반 변수 서칭과 마찬가지로 this의 값을 외부 렉시컬 환경에서 찾습니다.</h3>
    <h2>화살표 함수엔 'arguments'가 없습니다.</h2>
    <pre>function defer(f, ms) {
  return function() {
    setTimeout(() => f.apply(this, arguments), ms)
  };
  return function(...args) {
    let ctx = this;
    setTimeout(function() { return f.apply(ctx, args); }, ms);
  };
}
function sayHi(who) {
  console.log('안녕, ' + who);
}

let sayHiDeferred = defer(sayHi, 2000);
sayHiDeferred("철수"); // 2초 후 "안녕, 철수"가 출력됩니다.</pre>
  </section>
{% endblock %}

<script>
  let group = {
    title: "1모둠",
    students: ["보라", "호진", "지민"],
    showList() {
      this.students.forEach( function (student) {
        console.log(this.title + ': ' + student)
      }, this);
    }
  };
  group.showList();

  function defer(f, ms) {
    return function(...args) {
      setTimeout(function() {
        return f.apply(this, args);
      }.bind(this), ms);
    };
  }

  function sayHi(who) {
    console.log('안녕, ' + who);
  }

  let sayHiDeferred = defer(sayHi, 2000);
  sayHiDeferred("철수"); // 2초 후 "안녕, 철수"가 출력됩니다.
</script>