{% extends 'base.html' %}

{% block title %} MY Topic app {% endblock %}
{% block header %}
 Edit Todo
{% endblock %}

{% block content %}
  <form method="post" class="auth-form">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ todo['title'] }}" required >
    <label for="content">Content</label>
    <textarea name="content" id="content" required >{{ todo['content'] }}</textarea>
    <label for="fdate">Date</label>
    <input type="date" name="fdate" id="fdate" value="{{ todo['fdate'].strftime('%Y-%m-%d') if todo['fdate'] else '' }}" >
    <label for="done">Done</label>
    <input type="checkbox" name="done" id="done" {{ 'checked' if todo['done'] else '' }} >
    <input type="submit" value="Update" >
    <a class="action" href="/apps/todos/">cancel</a>
  </form>
{% endblock %}