{% extends 'base.html' %}

{% block title %} MY Topic app {% endblock %}
{% block header %}
 Todo List
{% endblock %}

{% block content %}
  {% if g.user %}
    <div class="link-list temp-list" style="display: flex; justify-content: end;">
      <a href="/apps/todos/create">Create todo</a>
  </div>
  {% endif %}

  {% for todo in todos %}
    <div class="todo-list">
      <div>
        <div class="todo-item">
          <input type="checkbox" {% if todo['done'] %} checked {% endif %} >
          <h4>{{ todo['title'] }} </h4>
          <div style="font-size: 0.8rem;">by {{ g.user['username'] }}
            on {{ todo['created'].strftime('%Y-%m-%d') if todo['created'] else ''}} 
          </div>
        </div>
        <div>{{ todo['content'] }}</div>
      </div>
      <div>
        {% if g.user['id'] == todo['author_id'] %}
          <a class="action" href="/apps/todos/{{ todo['id'] }}/edit">Edit</a>
          <a class="action" href="/apps/todos/{{ todo['id'] }}/delete">Delete</a>
        {% endif %}
      </div>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% with target_app="todos", page=page, total_pages=total_pages, per_page=per_page, page_length=todos_page_len, start_page=start_page, end_page=end_page %}
      {% include 'myapp/pagenation.html' with context %}
  {% endwith %}

{% endblock %}