{% extends 'base.html' %}

{% block title %} JS DOM {% endblock %}

{% block header %} form property and method {% endblock %}

{% block content %}
  <h3>input과 같이 폼 조작에 사용되는 요소에는 특별한 프로퍼티와 이벤트가 많음</h3>
  <section>
    <h2>폼과 요소 탐색하기</h2>
    <h3>폼은 특수한 컬렉션인 <code>document.forms</code>의 구성원</h3>
    <h3>document.forms는 이름과 순서가 있는 기명 컬렉션</h3>
    <h4>let form = document.forms.myForm;// 이름이 'myForm' 인 폼</h4>
    <h4>form.name 또는 form[index] 또는 form.elements.name 로 개별 요소에 접근 가능</h4>
    <h5>form[1] === form.two === elems.two === elems[1]; </h5>
    <h5>form[2] === elems.age[0]) === form.age[0]) === elems.age[0]</h5>
    <h4>역으로 element.form으로 역참조 가능</h4>
    <h5>form[1].form === form.age.form === form.age[0].form === elems.age[0].form</h5>
<pre>form: name="myForm" <form action="" name="myForm">
one:<input type="text" name="one" value="1">(name:one)
two:<input type="text" name="two" value="2">(name:two)
age:<input type="radio" name="age" value="20" max="99" min="0">(name:age)
age:<input type="radio" name="age" value="30">(name:age)</form>
let form = document.forms.myForm;
let elems = form.elements; // OR form.name 으로 직접 가능</pre>
  </section>
  <section>
    <h2>폼 요소</h2>
    <h3>input과 textarea</h3>
    <h4>input.value(string), input.checked(boolean)를 통해 값을 얻을 수 있음</h4>
    <h3>select(option)</h3>
    <h4>select.options : option 하위요소를 담고 있는 컬렉션</h4>
    <h4>select.value : 현재 선택된 option 값</h4>
    <h4>select.selectedIndex : 현재 선택된 option의 번호(인덱스)</h4>
    <h4>값 선택 방법</h4>
    <h5>조건에 맞는 option 하위요소를 찾아 option.selected를 true로 설정</h5>
    <h5>select.value를 원하는 값으로 설정</h5>
    <h5>select.selectedIndex를 원하는 option 번호로 설정</h5>
    <h5>multiple 속성을 추가하면 여러개 선택 가능</h5>
<pre><select id="select" multiple>
  <option value="apple">Apple</option>
  <option value="banana">Banana</option>
  <option value="kiwi">Kiwi</option>
  <option value="orange">Orange</option>
</select>
//아래 3개의 결과는 같음
select.options[1].selected = true;
select.selectedIndex = 1;
select.value = "banana";
// 선택한 전체 값
select.value = "kiwi";
let selected = Array.from(select.options)
  .filter(item => item.selected)
  .map(item => item.value);
console.log(selected);
//option 추가 및 선택
let option = `&lt;option value='pear'>Pear&lt;/option>`;
select.insertAdjacentHTML("beforeend", option);
select.options[select.options.length -1].selected = true;</pre>
  </section>
{% endblock %}