{% extends 'base.html' %}

{% block title %} JS DOM {% endblock %}

{% block header %} submit event and method {% endblock %}

{% block content %}
  <p>submit 이벤트는 폼을 제출할 때 트리거 되는데, 주로 폼을 서버로 전송하기 전에 내용을 검증하거나 폼 전송을 취소할 때 사용합니다.</p>
  <p>한편, form.submit() 메서드는 자바스크립트만으로 폼 전송을 하고자 할 때 사용합니다. submit()메서드는 동적으로 폼을 생성하고 서버에 보내고자 할 때 사용합니다.</p>
  <section>
    <h3>submit 이벤트</h3>
    <h4>폼을 전송하는 방법은 크게 두 가지가 있습니다.</h4>
    <h5> input type="submit">이나  input type="image"> 클릭하기</h5>
    <h5>인풋 필드에서 Enter 키 누르기</h5>
    <form onsubmit="alert('submit!');return false">
      1. input 필드에 포커스를 준 다음 Enter 키 누르기: <input type="text" value="text"><br>
      2. '제출' 버튼 누르기 아무동작 안함: <input type="submit" value="제출">
    </form>
    <form onsubmit="return false">
      <input type="text" size="30" value="여기에 포커스를 준 다음에 Enter 키 누르기">
      <input type="submit" value="제출" onclick="alert('클릭 이벤트가 트리거 되었습니다!')">
    </form>
    <h3>submit 메서드</h3>
    <p>form.submit()을 호출하면 자바스크립트로 직접 폼을 서버에 전송할 수 있습니다.</p>
    <p>form.submit() 메서드가 호출된 다음엔 submit 이벤트는 생성되지 않습니다. 개발자가 form.submit()을 호출했다면 스크립트에서 이미 필요한 모든 조치를 했다고 가정하기 때문입니다.</p>
<pre>let form = document.createElement('form');
form.action = 'https://google.com/search';
form.method = 'GET';

form.innerHTML = '<input name="q" value="테스트">';

// 폼을 제출하려면 반드시 폼이 문서 안에 있어야 합니다.
document.body.append(form);

form.submit();</pre>
  </section>
{% endblock %}