{% extends 'base.html' %}

{% block title %} JavaScript {% endblock %}

{% block header %} iterable 객체 {% endblock %}

{% block content %}
  <h3>iterable 객체는 for...of를 사용가능</h3>
  <h4>일반 객체에 for...of를 적용하기 위해서는 Symbol.iterator라는 매서드를 추가해야함</h4>
  <pre>let range = {
  from: 1,
  to: 5,
  [Symbol.iterator]() {
    this.current = this.from;
    return this;
  },
  next() {
    if (this.current <= this.to) {
      return { done: false, value: this.current++ };
    } else {
      return { done: true };
    }
  }
};
for (let num of range) {
  alert(num); // 1, then 2, 3, 4, 5
}</pre>
  <h4>유사배열은 lengtn, index가 있으나 for...of는 사용 불가</h4>
  <section>
    <h2>Array.from</h2>
    <p>Array.from을 통해서 이터러블니아 유사배열을 받아 진짜 array를 만들어줍니다.</p>
    <h3>Array.from(obj[, mapFn, thisArg])</h3>
    <pre>let arr = Array.from(range, num => num * num);</pre>
    <pre>let str = '💢💢💥💤';
let chars = Array.from(str);
console.log(chars[1], chars[0], chars.length);
let chars = [];
for(let char of chars) { chars.push(char); }
str.slice(1,3);// 쓰레깃값 출력(영역이 다른 특수 값);
function customSlice(str, start, end) {
  return Array.from(str).slice(start, end).join('');
}
customSlice(str, 1,3);</pre>
  </section>
{% endblock %}