{% extends 'base.html' %}

{% block title %} JavaScript {% endblock %}

{% block header %} XMLHttpRequest {% endblock %}

{% block content %}
<section>
  <h2>URL 생성</h2>
  <pre>
let xhr = new XMLHttpRequest();
xhr.open('GET', '/my/url');
xhr.send();
xhr.onload = function() {
  if (xhr.status != 200) { // HTTP error?
    // handle error
    alert( 'Error: ' + xhr.status);
    return;
  }
  // get the response from xhr.response
};

xhr.onprogress = function(event) {
  // report progress
  alert(`Loaded ${event.loaded} of ${event.total}`);
};

xhr.onerror = function() {
  // handle non-HTTP error (e.g. network down)
};</pre>
  <h4>loadstart – the request has started.</h4>
  <h4>progress – a data packet of the response has arrived, the whole response body at the moment is in response.</h4>
  <h4>abort – the request was canceled by the call xhr.abort().</h4>
  <h4>error – connection error has occurred, e.g. wrong domain name. Doesn’t happen for HTTP-errors like 404.</h4>
  <h4>load – the request has finished successfully.</h4>
  <h4>timeout – the request was canceled due to timeout (only happens if it was set).</h4>
  <h4>loadend – triggers after load, error, timeout or abort.</h4>
  <h4>error, abort, timeout, load 중에서 한개의 이벤트만 발생함</h4>
  </section>
{% endblock %}