{% extends "admin/master.html" %}

{% block body %}
<h1>Index Page</h1>
<h2>GO TO MAIN Menu</h2>
<div class="items mt-3">
  <a class="btn btn-primary" href="/apps/profiles/">User Profile</a>
  <a class="btn btn-primary" href="/apps/blogs/">Blogs</a>
  <a class="btn btn-primary" href="/apps/todos/">Todos</a>
</div>
<hr>
<div class="items">
  <a class="btn btn-outline-primary" href="/auth/login">Login</a>
  <a class="btn btn-outline-primary" href="/auth/register">Register</a>
  <a class="btn btn-outline-primary" href="/auth/logout">Logout</a>
  <a class="btn btn-outline-primary" href="/apps/profiles/">Account</a>
</div>
{% endblock %}