{% extends 'base.html' %}

{% block title %} Python Advanced {% endblock %}
{% block header %} module {% endblock %}
  
{% block content %}
<section>
<pre>//mod1.py
def add(a,b):
    return a+b
def sub(a,b):
    return a-b</pre>
<h1>module 불러오기</h1>
<pre>import mod1
print(mod1.add(3,4))
print(mod1.sub(4,2))</pre>
<h1>if <strong>name</strong> ==
“<strong>main</strong>”의 의미</h1>
<pre>//mod1.py
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
add(3,4)
sub(4,2)</pre>
<p>위와 같이하면 import 시 자동으로 실행됨<br />
shell에서 import mod1을 하면 add(3,4)와 sub(4,2)가 실행됨<br />
이를 방지하기 위해</p>
<pre>//mod1.py
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
if __name__ == &quot;__main__&quot;:
  add(3,4)
  sub(4,2)</pre>
<p>위와 같이 하면 shell에서 python mod1.py를 하면 if
<strong>name</strong> == “<strong>main</strong>” 이 참이되어
실행되고,<br />
import mod1을 하면 실행되지 않음</p>
<h1>클래스를 포함한 모듈</h1>
<pre>//mod2.py
PI = 3.141592
class Math:
    def solv(self, r):
        return PI * (r ** 2)
def add(a,b):
    return a+b</pre>
<h2>사용</h2>
<pre>import mod2
print(mod2.PI)
a = mod2.Math()
print(a.solv(2))
print(mod2.add(mod2.PI,4.4))</pre>
</section>
{% endblock %}