{% extends 'base.html' %}

{% block title %} Spring Boot {% endblock %}

{% block header %} Service {% endblock %}

{% block content %}
  <p>대부분의 규모 있는 스프링 부트(Spring Boot) 프로젝트는 컨트롤러에서 리포지터리를 직접 호출하지 않고 중간에 서비스를 두어 데이터를 처리한다. </p>
  <section>
    <h2>service 사용 이유</h2>
    <h3>복잡한 코드를 모듈화할 수 있다</h3>
    <h3>엔티티 객체를 DTO 객체로 변환할 수 있다.</h3>
    <h4>엔티티 객체에는 민감한 데이터가 포함될 수 있는데, 타임리프에서 엔티티 객체를 직접 사용하면 민감한 데이터가 노출될 위험</h4>
    <h4> Question, Answer를 대신해 사용할 DTO (Data Transfer Object) 클래스가 필요</h4>
    <h4>이 책은 간결한 설명을 위해 별도의 DTO를 만들지 않고 엔티티 객체를 컨트롤러와 타임리프에서 그대로 사용할 것이다. 하지만 실제 프로그램을 개발할 때는 엔티티 클래스를 대신할 DTO 클래스를 만들어 사용하기를 권장한다.</h4>
  </section>
  <section>
    <h2>서비스 만들기</h2>
    <pre>@Service
@RequiredArgsConstructor
public class QuestionService {

  private QuestionRepository questionRepository;

  public List&lt;Question> getList() {
    return this.questionRepository.findAll();
  }
}
//Controller 변경, 기존 repository를 IOC한 것을 service로 변경
//  private final QuestionRepository questionRepository;
  private final QuestionService questionService;

  @GetMapping("/question/question_list")
  public String questionList(Model model) {
    List&lt;Question> questionList = this.questionService.getList();

    model.addAttribute("list", questionList);
    return "sbbui/question/question_list";
  }    </pre>
  </section>
  <section>
    <h2>repository -> controller에서 repository -> service -> controller로 변경</h2>
    <h2>controller는 직접 repository를 사용하지 않고 service를 통해 repository에 접근</h2>
  </section>
{% endblock %}