{% extends 'base.html' %}

{% block title %} MY Topic app {% endblock %}
{% block header %}
 Users List
{% endblock %}
  
{% block content %}
  <form method="post" class="form-group d-flex flex-column gap-2 align-items-center" style="max-width: 600px; margin: auto;">
    <h4>{{ profile['firstname'] }} {{ profile['lastname'] }}을 지울까요</h4>

    <input class="btn btn-danger" type="submit" value="Delete User Profile" >
    <a class="btn btn-secondary w-100" href="/apps/profiles/">cancel</a>
  </form>
{% endblock %}