{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}
{% block header %}User Profile {% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
   <div class="d-flex justify-content-end mt-3 mb-3">
     <a class="btn btn-outline-info fs-sm" href="/apps/profiles/create">
      Create User Profile</a>
   </div>
  {% endif %}
  {% for profile in profiles %}
    <div class="items-container">
      <div class="d-flex flex-column gap-2 align-items-start">
        <h2>
          <img src="{{ profile['profile_image'] }}" alt="profile image" height="32" width="32" class="rounded-circle me-2">
          {{ profile['user']['username'] }}
          <span class="fs-sm text-muted">({{ profile['firstname'] }}, {{ profile['lastname'] }}) </span></h2>
        
        <p>{{ profile['user']['email'] }}</p>
        <small>{{ profile['address'] }} </small>
        
      </div>
      {% if current_user.id == profile['user_id'] %}
        <div>
          <a class="btn btn-outline-primary fs-sm" href="/apps/profiles/{{ profile['id'] }}/edit">
            EDIT</a> 
          <a class="btn btn-outline-primary fs-sm" href="/apps/profiles/{{ profile['id'] }}/delete">
            DELETE</a> 
        </div>
      {% endif %}
    </div>
    {% if not loop.last %} <hr> {% endif %}
  {% endfor %}

  {% with target_app="profiles", 
    page=page, 
    total_pages=total_pages,
    per_page=per_page,       
    page_len=page_len, 
    start_page=start_page, 
    end_page=end_page %}
    {% include 'apps/auth/pagenation.html' with context %}  
  {% endwith %}

{% endblock content %}