<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<nav th:fragment="navbarFragment" class="navbar" id="navbar">
  <ul class="navbar" >
    <li class="nav home"><a href="/">HOME</a></li>
    <li class="nav ui"><a href="/ui/question/question_list">UI</a></li>
    <li class="nav spring"><a href="/spring/00-setting/sbb-index">Spring</a></li>
    <li class="nav login">
      <a sec:authorize="isAnonymous()" th:href="@{|/ui/user/login|}">login</a>
      <a sec:authorize="isAuthenticated()" th:href="@{|/ui/user/logout|}">logout</a>
    </li>
    <li class="nav login"><a href="/ui/user/signup">SignUp</a></li>
  </ul>
  <button class="navBtn">🔻</button>
</nav>
</html>