<nav class="navbar" id="navbar">
  <div>
    <button class="navbar-btn" id="home"><a href="/home/">Home</a></button>
    <button class="navbar-btn" id="python"><a href="/python/">Python</a></button>
    <button class="navbar-btn" id="javascript"><a href="/javascript/">JavaScript</a></button>
    <button class="navbar-btn" id="dom"><a href="/dom/">DOM/CSS</a></button>
    <button class="navbar-btn" id="database"><a href="/database/">Database</a></button>
    <button class="navbar-btn" id="java"><a href="/java/">Java</a></button>
    <button class="navbar-btn" id="spring"><a href="/spring/">Spring</a></button>
    <button class="navbar-btn" id="auths"><a href="/auths/">Auths</a></button>
  </div>
  <ul class="user-menu">
    <button id="theme-toggle" class="navbar-btn">Toggle Theme</button>
    {% if g.user %}
      <li><a href="/auths/account">{{ g.user['username'] }}</a></li>
      <li><a href="/auths/logout">&nbsp;&nbsp; Log Out</a></li>
    {% else %}
      <li><a href="/auths/register">Register </a></li>
      <li><a href="/auths/login">&nbsp;&nbsp; LogIn</a></li>
    {% endif %}
  </ul>
</nav>