<nav class="navbar" id="navbar">
  <div>
    <button class="navbar-btn" id="home"><a href="/home">Home</a></button>
    <button class="navbar-btn" id="python"><a href="/python/">Python</a></button>
    <button class="navbar-btn" id="javascript"><a href="/javascript/">JavaScript</a></button>
    <button class="navbar-btn" id="dom"><a href="/dom/">DOM/CSS</a></button>
    <button class="navbar-btn" id="database"><a href="/database/">Database</a></button>
    <button class="navbar-btn" id="java"><a href="/java/">Java</a></button>
    <button class="navbar-btn" id="spring"><a href="/spring/">Spring</a></button>
    <button class="navbar-btn" id="auth"><a href="/auth/">Auth</a></button>
  </div>
  <ul class="user-menu d-flex align-items-center justify-content-end gap-2">
    <button id="theme-toggle" class="navbar-btn mt-0 pt-0 mb-1 pb-1">Toggle Theme</button>
    {% if current_user.is_authenticated %}
      <li><a href="/apps/profiles/">{{ current_user.username }}</a></li>
      <li><a href="/auth/logout">Log Out</a></li>
    {% else %}
      <li><a href="/auth/register">Register </a></li>
      <li><a href="/auth/login">LogIn</a></li>
    {% endif %}
    {% if current_user.is_authenticated and current_user.is_admin %}
    <li><a href="/admin">ADMIN</a></li>
    {% endif %}
  </ul>
</nav>